body {
	color: white;
	background-color: #282C37;
}

a:link {color: rgb(60%,80%,100%); }
a:visited {color: rgb(70%,60%,80%); }

#placeholder a {
	font-size: 120%;
}

a.headline {
	font-size: 120%;
}

ul > li {
	margin-bottom: 0.5em;
}

img.preview {
	width: 192px;
	height: 192px;
	border-color: gray;
	border-width: thin;
	border-style: solid;
	object-fit: cover;
}

table {
	border-color: white;
	border-style: solid;
	border-spacing: 0px;
}

td {
	padding: 0.5em;
}

th {
	padding: 0.5em;
}

img.avatar {
	width: 96px;
	height: 96px;
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
	object-fit: cover;
}

p {
	clear: both;
}

a.fake-button {
	display: inline-block;
	width: calc(256px - 32px);
	height: calc(96px - 32px);
	margin-right: 16px;
	margin-bottom: 16px;
	text-decoration: none;
	border-radius: 8px;
	padding: 16px;
	font-size: 125%;
}


a:link.fake-button {
	color: white;
	background-color: #2b90d9;
}


a:visited.fake-button {
	color: white;
	background-color: #2b90d9;
}


input[type=button] {
	color: white;
	background-color: #2b90d9;
	border-style: none;
	border-radius: 8px;
}

input[type=button]:hover {
	cursor: pointer;
}


input[type=button].small {
	width: 48px;
}


input[type=button] {
	font-size: 1em;
	width: 128px;
	height: 48px;
	margin-right: 8px;
	margin-bottom: 8px;
}


